.both{
    background-color: white;
}

.block1{
    width: 250px;
    word-wrap:break-word; 
    overflow:hidden;
}

.block2{
    
}

.lg-main-content{
    margin: auto;
    display: flex;
    margin: 10px 0;
}

.lg-article.am-g.both.block2 {
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
}

.am-panel.am-panel-default.lg-summary.both.block1 {
    box-sizing: border-box;
    padding: 10px;
}

.center1{
    width: 230px;

}

.center2{
}

input{
    border: 1px solid blue;
    width: 175px;
    height: 30px;
}

.a{
    width: 75px;
    height: 40px;
    background-color: red;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.am-btn-danger{
    font-weight: bold;
    color: aliceblue;
}

.aaa{
    margin: auto;
}