.first-face{
    padding-left: 1em;
    padding-right: 1em;
}

.last {
    margin-bottom: 2em;
}

.search
{
    margin-top: 2em;
    display: block; 
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1); 
    padding: 1.3em;
    box-sizing: border-box;
}
.search2 {
    margin-right: 1em; 
    font-size: 1.25em;
    font-weight: bold;
}
.search3
{
    display: block;
    float: right;
    
}
.search6
{
    display: flex;
    align-items: center;
}
.search7
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
.search4
{
    line-height: 1.5;
    font-size: 0.875em;
    padding: 0.313em 1em;
}
button
{
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-weight: inherit;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    border-radius: 0;
    border: 3.5px solid;
    border-color: rgb(52, 152, 219);
    background-color: rgb(52, 152, 219);
}
/*section {
    display: flex;
    min-height: 3em;
    align-items: center;
}*/
.search1
{
    display: flex;
    min-height: 3em;
    align-items: center; 
}
.leixing
{
    display: flex;
    min-height: 3em;
    align-items: center;
    
}
.leixing2
{
    list-style:none; 
    margin: 0px; 
    padding: 0px; 
    width: auto; 
}
.leixing3
{
    float:left; 
}
.leixing4
{
    float:left; 
}
b
{
    margin-right:3em;
}
.leixing1
{
    display: block;
}
.leixing2>li {
    display: inline-block;
    margin-left: 1em;
    padding: 0.063em 0.5em;
    transition: .3s ease all;
    border-radius: 3px;
}
.leixing2>li.leixing3>a {
    cursor: default;
    color: #fff;

}
.leixing2>li>a {
    color: inherit;
    text-decoration: none;
}
a
{
    background-color: transparent;
}

.asd>li
{
    float: left;
}
.tou{
    border-bottom: 2px solid #e8e8e8;
    padding-bottom: .5em;
    display: flex;
}
.id {
    flex: 1;
}
.name {
    flex: 5;
}
.finish {
    flex: 2;
    height: 20px;
}
.finish .progress {
    height: 20px;
    border-width: 0;
    width: 80%;
}
.problem-count {
    flex: 1;
}
.collection {
    flex: 1;
}
.wancheng1
{   
    display: inline-block;
    min-width: 8em;
    max-width: 4.5em;
    background: #e8e8e8;
    height: 1em;
    overflow: hidden;
    
    
}
.wancheng2
{
    display: block;
}
.td-item
{
    padding: .5em 0;
    border-bottom: 2px solid #e8e8e8;
    display: flex;
    align-items: center;
}
.bottom{
    padding: 1.3em 0px;
}
.page-bar{
    float: right;
    display: flex;
    align-items: center;
}
.page-bar span {
    margin-right: 1em;
}

.page-bar div {
    display: flex;
}

.page-bar button
 {
    margin-right: .5em;
    padding: 0;
    cursor: pointer;
    width: 2em;
    min-width: 2em;
    height: 2em;
    background: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
    color: buttontext;
    text-align: center;

 }
 button.selected{
    border-color: rgb(52, 152, 219);
    background-color: rgb(52, 152, 219);
    cursor: default;
    color: #fff;
   
 }
 a:hover 
{ text-decoration:none;}
















