body {
    background-color: #EFEFEF;
    margin-left: 60px;
}

#guluo-page {
    display: flex;
    flex-direction: column;
}

#guluo-main {
    flex: 1;
}

.bold {
    font-weight: bold;
}

.purple{
    color: rgb(157, 61, 207);
}

.green{
    color: rgb(82, 196, 26);
}

.yellow {
    color: rgb(250, 219, 20);;
}

.orange{
    color: rgb(243, 156, 17);
}

.blue{
    color: rgb(52, 152, 219);
}

.red {
    color: rgb(254, 76, 97);
}

#header .navbar {
    padding: 5px;
    background-color: white !important;
}

#header .navbar .glyphicon {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    body {
        margin-left: 0;
    }
    #sidebar {
        display: none;
    }
}

#sidebar .sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(52, 73, 94);
    color: rgb(221, 221, 221);
    z-index: 10;
}

#sidebar .sidebar div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 12px;
}

#sidebar .sidebar .dropdown-menu {
    left: 65px;
    top: -10px;
}

#sidebar .sidebar .dropdown-menu li a{
    line-height: 30px;
    text-align: center;
    color: #333;
}

#sidebar .sidebar .logo {
    height: 60px;
    width: 100%;
    background-color: rgb(52, 152, 219);
}
#sidebar .sidebar .logo img {
    height: 60%;
    width: auto;
}
#sidebar .sidebar a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(221, 221, 221);
    text-decoration: none;
}
#sidebar .sidebar a img {
    height: 30%;
    width: 30%;
    margin-bottom: 5px;
}
#sidebar .sidebar a div {
    width: 100%;
}


#header .header {
    width: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(35, 37, 38), rgb(65, 67, 69)) repeat scroll 0% 0%;
    color: #fff;
    padding-bottom: 20px;
}
#header .header-main .bread-crumb {
    color: #ccc;
    font-size: small;
    padding-top: 20px;
}
#header .header-main .bread-crumb a {
    color: #ccc;
    text-decoration: none;
}
#header .header-main .bread-crumb a:hover {
    color: #fff;
}
#header .header-main h1 {
    font-weight: bold;
    margin-bottom: 20px;
}
#header .header-main .header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .header-main .header-bottom button {
    margin-right: 10px;
}
#header .header-main .header-bottom .data-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .header-main .header-bottom .data-box>div {
    width: 90px;
    text-align: center;
    border-left: 1px solid #fff;
}
#header .header-main .header-bottom .data-box>div:first-child {
    border-left: none;
}
#header .header-main .header-bottom .data-box>div div:last-child {
    font-weight: bolder;
}

#footer .footer {
    background-color: #333;
    padding: 20px 0 30px;
}

#footer .footer .container {
    color: #fff;
    display: flex;
    align-items: center;
}

#footer .footer .container .slogan {
    font-size: larger;
    font-weight: bold;
    margin-left: 20px;
}

#footer .footer .container .links {
    text-align: right;
    flex: 1;
    color: #ccc;
}

#footer .footer .container a{
    color: #ccc;
    text-decoration: none;
}
#footer .footer .container a:hover{
    color: #fff;
}