body * {
    margin: 0;
    padding: 0;
}

body .block-header {
    font-size: 20px;
    font-weight: bold;
}

body a {
    text-decoration: none !important;
}

.slider-checkIn-container, .jump, .statics, .recent-contest {
    background-color: rgb(250,250,250);
} 
.recent-discuss, .announcement, .plan-and-recommend, .blogroll {
    background-color: rgb(250,250,250);
}



/* **轮播图-每日签到** */
.slider-checkIn-container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 1080px;
    height: 325px;
    margin: 0 auto;
}

.slider {
    width: 690px;
    height: 270px;
    margin-top: 20px;
    margin-left: 20px;

    /* border: 1px solid black; */
}

.slider .carousel-indicators {
    bottom: -25px;
}

.slider .carousel-indicators .active {
    background-color: rgb(52,152,219);
}

.slider ol {
    bottom: -25px;
}

.slider ol li {
    border: none; 
    background-color: rgb(127,127,127);
}

.check-in {
    width: 330px;
    height: 285px;
    margin-top: 20px;
    margin-right: 20px;

    /* border: 1px solid black; */
}

.check-in {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.check-in .username {
    color: rgb(14,144,210);
}

.check-in .content {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    /* width: 100%; */
}

.check-in .content p {
    text-align: center;
}

.check-in .content .lunar-month, .day{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-direction: column;
    width: 18px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(71, 144, 71);
}

.check-in .title {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    font-size: 20px;
}

.check-in .content .date {
    margin: 0 20px;
    font-weight: bolder;
    font-size: 100px;
    color: rgb(71, 144, 71);
}

.check-in .countdown, .check-in-btn {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}
.check-in .check-in-btn {
    margin-top: 10px;
}



/* **** */



/* **跳转-数据统计** */
.jump-statics-container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 1080px;
    height: 195px;
    margin: 20px auto;

    /* border: 1px solid black; */
}

.jump {
    width: 255px;
    height: 100%;
    padding: 20px 20px 20px 15px;
}

.jump-box {
    margin-top: 15px;
}

.statics {
    width: 805px;
    height: 195px;
    display: flex;
    /* padding: 20px; */
    /* background-image: url(/static/img/statics-pic.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat; */
    
}
/* **** */
.statics>div{
    flex:1;
}



/* **标记样式** */
.col-1 .container .Rated, .IOI, .ACM, .OfficialContest, .TeamOpen, .Top {
    display: inline-block;
    padding: 0 8px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}

.Rated {
    background-color: rgb(94,185,94);
}

.IOI {
    background-color: rgb(241,196,15);
}

.ACM {
    background-color: rgb(142,68,173);
}

.OfficialContest {
    background-color: rgb(231,76,60);
}

.TeamOpen {
    background-color: rgb(58,107,67);
}

.Top {
    background-color: rgb(231,76,60);
}
/* **** */



/* **多列布局容器** */
.multiCol-container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 1080px;
    height: 1170px;
    margin: 20px auto;

    /* border: 1px solid black; */
}

.col-1 {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 805px;
    height: 1040px;

    /* border: 1px solid black; */
}

.col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 255px;
    height: 100px;

    /* border: 1px solid black; */
}





.col-1 .recent-contest {
    width: 100%;
    height: 400px;
    padding: 20px 20px 20px 15px;
}

.col-1 .recent-contest .col-md-6 {
    width: 338px;
    margin: 5px;
    padding: 0;
    border-radius: 5px;
}

.col-1 .recent-contest .container header a {
    font-weight: bold;
    font-size: 13px;
}

.col-1 .contest-red {
    background-color: rgb(250,229,228);
    border: 1px rgb(245,206,205) solid;
}

.col-1 .contest-green {
   background-color: rgb(231,245,231); 
   border: 1px rgb(201,231,201) solid;
}

.col-1 .header-link-green {
    color: rgb(94,185,94);
}

.col-1 .header-link-red {
    color: rgb(221,81,76);
}

.col-1 .container a:hover {
    color: rgb(0,86,179);
}

.col-1 .contest-card-header {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    /* padding: 7px 30px 7px 7px; */
    padding: 7px 40px 7px 15px;
}

.col-1 .recent-contest .contest-card-content {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}

/* .col-1 .contest-status {
    margin-left: 5px;
} */


.col-1 .recent-contest .notStart {
    color: rgb(94,185,94);
    font-weight: bold;
}

.col-1 .recent-contest .completed {
    color: rgb(231,76,60);
    font-weight: bold;
}

.col-1 .recent-contest .notStart, .completed, 
.time-before-start, .contest-period time, .author a{
    font-size: 11px;
}

.col-1 .recent-contest .time-before-start, .contest-period time {
    color: rgb(127,127,127);
}





.col-1 .recent-discuss {
    width: 100%;
    height: 620px;
    padding: 20px 20px 20px 15px;
}

.col-1 .recent-discuss .col-md-6 {
    display: flex;
    display: -webkit-flex;
    width: 338px;
    height: 83px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(52,152,219);
    background-color: white;
}

.col-1 .discuss-col-1 {
    margin: 5px 0;
    margin-left: 5px;
}

.col-1 .discuss-col-2 {
    margin: 5px 0;
    margin-left: 15px;
}

.col-1 .recent-discuss .discuss-avatar img {
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.col-1 .recent-discuss .discuss-content {
    margin-left: 20px;
}

.col-1 .recent-discuss .discuss-content header {
    font-size: 13px;
}

.col-1 .recent-discuss .author {
    font-weight: bold;
    font-size: 12px;
}

.col-1 .recent-discuss .area {
    font-size: 10px;
}

.col-1 .recent-discuss .publish-date, .response, .in {
    color: rgb(127,127,127);
    font-size: 10px;
}




.col-2 .announcement, .plan-and-recommend, .blogroll {
    padding: 20px 15px;
}

.col-2 .announcement {
    width: 100%;
    height: 400px;
}

.col-2 .announcement-links p {
    font-size: 16px;
    line-height: 2.6em; 
}

.col-2 .plan-and-recommend {
    width: 100%;
    height: 300px;
}

.col-2 .title-container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.col-2 .plan {
    margin-bottom: 40px;
}

.col-2 .plan .score {
    font-weight: 700;
    color: rgb(94, 195, 94); 
}

.col-2 .problem-ID {
    font-weight: 700;
}
.col-2 .plan .plan-list {
    font-size: 16px;
}

.col-2 .blogroll {
    width: 100%;
    height: 430px;
}

.col-2 strong {
    color: rgb(81,81,81);
}

.col-2 .school-institution, .parter, .blogs, .project {
    margin-top: 25px;
}

.col-2 .school-institution, .parter, .blogs, .project p {
    font-size: 16px;
}