.list-container {
    margin-top: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
#search-problem{
    background-color: white;
    padding: 20px;
}

.line {
    margin: 20px 0px 20px;
}

#search-key{
    display: flex;
    align-items: center;
}

#search-key #biaoti{
    display: inline-block;
    font-size: x-large;
    width: 150px;
    margin-right: 20px;
}

#search-key span#choice{
    width:200px;
    font-size: medium;
}

#search-key > [type="checkbox"]{
    width: 50px;
}

.search-choice>div{
    font-size: 16px;
    display: flex;
}

.show-ul{
    list-style: none;
    display: block;
}

.search-choice ul>li{
    display: inline-block;
    padding-right:30px;
}

.search-label input{
    height: 25px;
    width: 200px;
}

.search-choice b{
    padding-bottom: 20px;
}

.search-other{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.interval{
    width: auto;
    height: 20px;
    background-color: rgb(239,239,239);
}

.problem-list{
    background-color: white;
    padding: 20px;
}

.icon{
    width: 21px;
    height: 16px;
    opacity: 0.7;
}

/* .row a{
    padding: 8px 6px 8px 0;
} */

.header-wrap{
    border-bottom: 2px solid gainsboro !important;
}

.p-row {
    border-bottom: 1px solid gainsboro;
}

.p-row, .header-wrap {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.p-status, .p-pass {
    flex: 1;
}

.p-num, .p-difficulty{
    flex: 2;
}

.p-difficulty, .p-pass{ 
    text-align: center;
}

.p-tags {
    flex: 2;
}

.p-name {
    flex: 8;
}

.p-name>a{
    color: #3498db;
}

.p-name>a:hover{
    text-decoration: none;
    color: #336699; 
}

.progress, .p-pass {
    height: 20px;
    margin-bottom: 0;
}

.p-row{
    font-size: medium;
}

.span-tag{
    font-size: 14px;
    border-radius: 2px;
    padding:2px 6px;
    color: white;
    margin: 0 2px; 
}

.p-pink {
    background-color: #FE4c61;
}

.p-red {
    background-color: #e74c3c;
}

.p-orange {
    background-color:#f39c11;
}

.p-yellow {
    background-color:#ffc116;
}

.p-green {
    background-color: #52c41a;
}

.p-blue {
    background-color: #3498db;
}

.p-purple{
    background-color: #9d3dcf;
}

.p-hard-blue{
    background-color: #0e1d69;
}

#action-box {
    
    text-align: center;
}

#action-box>span {
    cursor: pointer;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}
#action-box>span:hover {
    color: black;
}
#action-box>span>svg {
    width: 14px;
    height: 14px;
}