.problem-container{
    display: flex;
}

.problem{
    line-height: 2;
    background-color: white;
    padding: 20.8px;
    margin: 33px 0;
}

.problem-details h1{
    font-size: 20px;
    font-weight: 900;
}

p{
    font-size: 16px;
}

.problem-description-string{
    background-color: #f0f0f0;
}

pre{
    font-size: 16px;
    line-height: 1.5;
}

.problem-details{
    margin-right: 20px;
}

.problem-info{
    height: 210px;
    width: 400px;
    font-size: 18px;
    line-height: 2.5;
}

.line{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.provider{
    color: #9d3dcf;
    font-weight: bold;
    
}

.problem-info svg{
    height: 17px;
}

.problem-info a{
    color: #3498db;
}

.problem-info a:hover{
    text-decoration: none;
}