.problem-container{
    display: flex;
}

.problem{
    line-height: 2;
    background-color: white;
    padding: 20.8px;
    margin: 33px 0;
}

.problem-details h1{
    font-size: 20px;
    font-weight: 900;
}

p{
    font-size: 16px;
}

.problem-description-string{
    background-color: #f0f0f0;
}

pre{
    font-size: 16px;
    line-height: 1.5;
}

.problem-details{
    margin-right: 20px;
}

.problem-side{
    font-size: 18px;
    line-height: 2.5;
}

.problem-info{
    width: 400px;
}

.line{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.provider{
    color: #9d3dcf;
    font-weight: bold;
    
}

.problem-info svg{
    height: 17px;
}

a{
    color: #3498db;
}

a:hover{
    text-decoration: none;
}

.problem-label{
    width: 400px;
}

svg{
    height: 10px;
    
}

.action-box{
    color: rgba(0,0, 0, 0.3);
    font-size: 14px;
}

.action-box{
    cursor: pointer;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.action-box:hover {
    color: black;
}

.this-label{
    color: white; 
    background-color: #e74c3c;
    font-size: 14px;
    border-radius: 2px;
    padding:2px 6px;
    margin: 0 2px; 
}

.hide-box3 img{
    height: 12px;
}

.hide-box3 div{
    display: flex;
    align-items: center;
}

.hide-box3 a{
    margin-left: 5px;
}
