.list-container {
    margin-top: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.search-record{
    background-color: white;
    padding: 20px;
}

.line {
    margin: 20px 0px 20px;
}

.search-key{
    display: flex;
    align-items: center;
}

.biaoti{
    display: inline-block;
    font-size: x-large;
    width: 150px;
    margin-right: 20px;
}

.form-control {
    width: 20%;
}

.screen{
    padding-top: 15px;
}

.screen span{
    font-size:16px ;
}

.screen b{
    font-size: 15px;
}

.search-other{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.interval{
    width: auto;
    height: 20px;
    background-color: rgb(239,239,239);
}

.record-list{
    background-color: white;
    padding: 20px;
}

.record-list img{
    border-radius: 50%;
    height: 35px;
    vertical-align: middle;
}