.list-container {
    margin-top: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.search-record{
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.line {
    margin: 20px 0px 20px;
}

.search-key{
    display: flex;
    align-items: center;
}

.biaoti{
    display: inline-block;
    font-size: x-large;
    width: 150px;
    margin-right: 20px;
}

.form-control {
    width: 20%;
}

.screen{
    padding-top: 15px;
}

.screen span{
    font-size:16px ;
}

.screen b{
    font-size: 15px;
}

.search-other{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.interval{
    width: auto;
    height: 20px;
    background-color: rgb(239,239,239);
}

.record-list{
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.record-list img{
    border-radius: 50%;
    height: 35px;
}

/* .img-box{
    display: flex;
    
} */

.row-record{
    display: flex;
    border-bottom: 1px solid #e8e8e8; 
    line-height: 1.5;
    align-items: center;
}

.row-record > div{
    display: flex;
    flex-direction: column;
    padding: 8px 6px 8px 0px;
}

.name-time{
    width: 170px;
    padding: 0px 6px 8px 0px;
}

a:hover{
    text-decoration: none;
}

.name-time div:nth-child(1) span{
    font-size: 17px;
    font-weight: bold;
    color: rgb(191, 191, 191);
}

.status{
    width: 200px;
}

.status-tag{
    font-size: 15px;
    border-radius: 2px;
    padding:2px 6px;
    color: white;
    margin: 0 2px; 
}

.ac-tag{
    background-color: #52c41a;
    width: 75px;
}

.status-numble{
    font-size: 16px;
    font-weight: bold;
}

.ac-numble{
    color: #52c41a;
}

.problem{
    font-size: 17px;
    width: 410px;
}

svg{
    height: 1em;
}

.row-record >.status-data{
    display: flex;
    font-size: 14px;
    color: rgba(0,0,0,0.45);
    flex-direction: row;
    align-items: center;
}

.data{
    padding-right: 5px;
    padding-left: 1px;
}