.flex-container {
    display: flex;
    width: 350px;
    height: 605px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.088);
    background-color: white;
}

.register-window{
    height: 90%;
    width: 80%;
}

.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo img{
    height: 60%;
    width: 60%;
}

.register-window .slogan{
    color: rgb(52,152,219);
    font-size: 16px;
    text-align: center;
}

.register-form input{
    border-radius: 2px;
    border:1px solid #cdcdcd;
    padding: 4px 12px;
    font-size: small;
}

.submit button{
    background-color: rgb(52,152,219);
    color: white;
    width: 100%;
    height: 30px;
    border: rgb(52,152,219);
    border-radius: 2px;
}

.user-name ,.password{
    margin-bottom: 10px;
}

.login{
    margin-top: 20px;
    text-align: center;
}

.agree-agreement-text{
    font-size: small;
    margin: 1px 0;
}

.choice-way-register{
    display: flex;
    margin-bottom: 10px;
}

.choice-way-register div {
    flex: 1;
    text-align: center;
    font-size: large;
    border-bottom: 2px solid rgba(26, 26, 26, 0.1);
    cursor: pointer;
}

.choice-active{
    border-bottom: 4px solid rgba(52, 152, 219, 255) !important;
}
