.aaa{
    width: 800px;
    height: 800px;
}

.ys1{
    width: 170px;
    height: 650px;
    position: relative;
    left: 220px;
}

.ys2{
    width: 1000px;
    height: 650px;
    background-color: white;
    position: relative;
    left: 400px;
}

.border-black{
    background-color: white;
    border:1px solid gainsboro;
    float:left;
}

.fl{
    position: relative;
    left: 100px;
    top: 35px;
    height: 1px;
    clear: both;
}

.divider {
    width: 96%;
    position: relative;
    left: 20px;
    top: 10px;
    height: 1px;
    border-top: solid gainsboro 1px;
}

div.center{
    width: 100px;
    margin: auto;
}

li{
    position: relative;
    top: 40px;
    height: 40px;
}

.centerp{
    text-align: center;
    height: 30px;
    font-size: 20px;

}

li:hover{
    cursor: pointer;
}

p{
    position: relative;
    right: 100px;
}

